<div class="col-md-6 col-md-offset-3">
  <form class="form-horizontal">
    <!-- Header Title -->
    <div class="form-group">
      <div class="col-sm-12">
        <h1>Login</h1>
      </div>
    </div>
    <!-- User Name field -->
    <div class="form-group">
      <label class="col-sm-3">User Name</label>
      <div class="col-sm-5">
        <input type="text">
      </div>
    </div>
    <!-- User Password field -->
    <div class="form-group">
      <label class="col-sm-3">Password</label>
      <div class="col-sm-5">
        <input type="text">
      </div>
    </div>
    <!-- User Login button -->
    <div class="form-group">
      <label class="col-sm-9 pull-right">
        <button type="submit" class="btn btn-primary">Login</button>
      </label>
    </div>
  </form>
</div>